body {
  font-family: -apple-system , BlinkMacSystemFont , Segoe UI , Roboto , Oxygen , Ubuntu , Cantarell , Fira Sans , Droid Sans , Helvetica Neue , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}

Footer {
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.start-recipe {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

Footer > footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

li {
  list-style-type: none;
}
